@import '/src/styles/_variables';

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    &__title {
        font-size: 36px;
        color:#fff;
        margin-bottom: 15px;
    }
    &__form {
        background-color: darken( #33363d,5);
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-bottom: 10px;
    }
    &__input {
        margin-bottom: 30px;
        padding: 10px;
        
    }
    &__login-btn {
        @extend %button;
        background-color: $main-color;
        color: #fff;
        margin-top: 8px;
        
    }
    &__error {
        margin-top: -26px;
        margin-bottom: 10px;
        width: 100%;
        color:#fff;
        overflow-wrap: break-word;
    }

    @media (max-width:768px) {
        font-size: $font-size-mobile;
        &__form {
            width: 500px;
        }
        &__input,
        &__login-btn,
        &__reminder{
            font-size: $font-size-mobile;
        }

        &_error {
            margin-top: -26px;
            margin-bottom: 6px;
        }
    }
    @media (max-width:768px) {
        .auth__form {
            width: 100%;
        }
    }
}

