@import '../../styles/_variables';


.column {
    width: 22%;
    
    background-color: darken( #33363d,5);
    &__header {
        padding: $padding;
        text-align: left;
        font-weight: bold;
        color: #fff;

    }
    &__inner {
        padding: $padding;
    } 
    &__add {
        padding: $padding;
        &-btn {
            @extend %button;
            position: relative;
            padding-left: 25px;
            &::before {
                content: '+';
                position: absolute;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                left: 0px;
            }
        }
    }
    @media (max-width:900px) {
        width: 25%;
        border: 1px solid black;
        &__header {
            padding: 20px 0;
            text-align: center;
        }
    }
    @media (max-width:768px) {
        width: 320px;
        //border: none;
        //display: flex;
        flex-direction: column;
        height:100%;
        margin-bottom: 30px;
        &__task-lists {
            height: 50vh;
            overflow: scroll;
            padding: 20px;
        }
   
        
    }
    @media (max-width:768px) {
        width: 100%;
        &__header {
            font-size: 1.2*$font-size-mobile;
        }
        &__add-btn {
            font-size:$font-size-mobile ;
            padding-left: 40px;
            &::before {
                margin-left: 15px;
            }
        }

    }

}


