@import './_reset';

body {
  background-color: #33363d;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1162px;
  margin: 0 auto;
  padding: 0 20px;
}
.app__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  
}

