@import '../../styles/_variables';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    a {
        text-decoration: none;
    }
    &__logo {
        display: flex;
        align-items: center;
        &-title {
            font-size: 40px;
            font-weight: 600;
            color: #fff;
        }
        &-img {
            width: 60px;
            height: 60px;
        }

        
    }
    &__login {
     
        &-user {
            font-size: 1.5rem;
            color: #fff;
        }
        &-auth {
            @extend %button;
            background-color: $main-color;
            color: #fff;
            border-radius: 8px;
            margin-left: 10px;

        }
    }
    @media (max-width:768px) {
        
           
         
            &__login {
                align-self: flex-end;
                width: 200px;
                font-size: $font-size-mobile;
                &-user {
                    font-size: 1.2*$font-size-mobile;
                    margin-right: 20px;
                }
                &-auth {
                    font-size: $font-size-mobile
                }
            }
            &__login-user
            &__login-auth {
                font-size: $font-size-mobile;
            }
    }
    @media (max-width:650px) {
        display: block;
        &__logo {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            &__title {
                font-size: 2*$font-size-mobile;
            }
        }
        &__login-container {
            display: flex;
            justify-content: flex-end;
            
        }
    }
        
}


